<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/style.css" />
    
  </head>
  <body>
    <div class="main">{{>header}}
     <p>Please use dark mode to see my website. Enter valid address only beacsue we have limited api uses. Sorry from your developer i am poor.</p>
    <img class="portrait" src="img/0w9f6csmzep71.png" />
    </div>
    {{>foter}}
  </body>
</html>